body {
	background-color: #E6B54A;
}
h1 {
	color: #B81F46;
	font-family: "Grand Hotel", Arial, sans-serif;
}
h2 {
	color: #B81F46;
	font-family: "Grand Hotel", Arial, sans-serif;
	font-size: 2em;
}
nav {
	background-color: white;
	text-align: center;
	box-shadow: 3px 3px 5px #996633;
}

.boxlist {
	background-color: white;
	border-radius: 10px;
	margin: 0 auto;
	padding: 5% 10%;
	text-align: center;
	width: 80%;
}

#tareas {
	background-color: #E5E5E5;
	border: 1px solid black;
	border-radius: 10px;
	list-style: none;
	padding: 2% 0;
	margin: 10px 0;
}

#tareas:first-child {
	display: none;
}

.fa:hover {
	color: red;
	cursor: pointer;
}